# Auto detect text files and normalize line endings to LF
* text=auto

# Exclude from distribution (composer / packagist)
/apps/ export-ignore
/docs/ export-ignore
/scripts/ export-ignore
/.docker/ export-ignore
/docker-compose.yml export-ignore
/.github/ export-ignore
/.gitignore export-ignore
CHANGELOG.md export-ignore
*.md export-ignore

# Keep these in distribution
/packages/ !export-ignore
LICENSE !export-ignore
README.md !export-ignore
